# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the most popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn
4. matplotlib
5. seaborn

| Data Science Tools |
| -------- |
| Jupyter Notebook |
| TensorFlow |
| Apache Spark |
| R Studio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
min = 200
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**
- Creating ordered lists
- Creating headers and bold statements
- Basic arithmatic code cells using python
- List popular languages for Data Science

## Author
Brendan Giles